<div class="page-wrapper">
    <div class="header-wrapper">
        <button routerLink="/pets-dashboard">Friend.me</button>

        <div class="menu-icons">
            <img alt="" routerLink="/pets-dashboard/favourites" src="../../../../assets/icons/heart-outlined.png"/>
            <img (click)="openFormModal()" *ngIf="isAdmin" alt="" src="../../../../assets/icons/add.png"/>
            <img alt="" routerLink="/user-account" src="../../../../assets/images/userIcon.png"/>
            <img (click)="signOut($event)" alt="" src="../../../../assets/icons/log-out.png"/>
        </div>
    </div>
</div>
