.title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

  & mat-icon {
    cursor: pointer;
  }
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;

  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    line-height: 36px;
    align-items: center;
    border-radius: 4px;

    mat-icon {
      margin-right: 5px;
    }
  }

  .file-name {
    text-align: center;
  }

  button {
    margin-top: 30px;
  }

}
