.user-wrapper-card {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    margin: auto;
    width: 670px;
    background: #c2ebff;
    box-shadow: 0 48.0205px 144.061px rgba(0, 0, 0, 0.07),
      0 20.0618px 60.1854px rgba(0, 0, 0, 0.0503198),
      0 10.726px 32.178px rgba(0, 0, 0, 0.0417275),
      0 6.01291px 18.0387px rgba(0, 0, 0, 0.035),
      0 3.19341px 9.58024px rgba(0, 0, 0, 0.0282725),
      0 1.32885px 3.98655px rgba(0, 0, 0, 0.0196802);
    border-radius: 40px;
    padding: 30px;

    .quote {
      color: #429ef2;
      text-align: center;
      font-size: 16px;
      margin-bottom: 30px;
    }

    .info-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 20px;
      flex-wrap: wrap;

      img {
        max-width: 200px;
        max-height: 200px;
      }

      div {
        margin-left: 30px;
      }
    }

    .btn-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .email {
        background: linear-gradient(180deg, #fdd153 0%, #f5c02d 100%);
        border-radius: 17px;
        color: #ffffff;
        font-weight: 400;
        font-size: 16.7028px;
        width: 270px;
        height: 58px;
        margin-right: 20px;
      }

      .password {
        background: linear-gradient(180deg, #64adef 0%, #3198f4 100%);
        border-radius: 17px;
        color: #ffffff;
        font-weight: 400;
        font-size: 16.7028px;
        width: 270px;
        height: 58px;
      }
    }
  }
}

@media (max-width: 768px) {
  .user-wrapper-card {
    .card {
      width: 73%;

      .btn-block {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .email {
          margin: 0 0 20px;
        }
      }

      .info-block {
        div {
          height: 80px;
          max-width: 98%;
          overflow-y: hidden;
        }
        p {
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}
