<div class="user-wrapper-card">
    <mat-card class="card">
        <mat-card-title>
            <p *ngIf="randomCatQuote" class="quote">😺 {{randomCatQuote}} 😺</p>
            <div *ngIf="user" class="info-block">
                <img alt="" src='{{user?.photoURL ? user?.photoURL : "../../assets/images/userAvatar.png"}}'>
                <div>
                    <p>{{user?.displayName}}</p>
                    <span>{{user?.email}}</span>
                </div>
            </div>
        </mat-card-title>
        <mat-card-actions>

            <div class="btn-block">
                <button (click)="editInfo()" class="email" mat-raised-button>Edit Information</button>
                <button (click)="changePassword()" class="password" mat-raised-button>Change Password</button>
            </div>
        </mat-card-actions>
    </mat-card>

</div>

