<mat-card [ngClass]="petPost.color" [style.background-image]="'url('+petPost.avatar+')'" class="card">
    <mat-card-title>
        <span>{{petPost.name}}
            <mat-icon (click)="openEditFormModal()" *ngIf="isAdmin">edit</mat-icon></span>
        <div class="icons-block">
            <div (click)="addRemoveToFavoirites()" class="goTo heart">
                <img *ngIf="!isFavourite" alt="" src="../../../assets/icons/heart-outlined.png">
                <img *ngIf="isFavourite" alt="" src="../../../assets/icons/heart-filled.png">
            </div>
            <div [routerLink]="['/pets-dashboard', 'pet-info', petPost.id]"
                 class="goTo">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
        </div>
    </mat-card-title>
    <mat-card-actions>
        <div *ngIf="isAdmin" class="delete-block">
            <mat-icon (click)="removePost()">delete</mat-icon>
        </div>
    </mat-card-actions>
</mat-card>
