.header-wrapper {
  width: 98%;
  max-width: 1440px;
  min-width: 300px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10000;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);

  .menu-icons img {
    cursor: pointer;
    margin: 0 13px;
    width: 29px;
    height: 26px;
  }

  button {
    background: transparent;
    border: none;
    color: #03063A;
    font-size: 18px;
    margin: 0 0 0 13px;
    font-weight: bold;
    cursor: pointer;
  }
}
