.no-page-block {
  width: 100%;
  position: relative;
  background: rgba(100, 173, 239, 1);
  height: 100vh;
  overflow: hidden;

  .cat {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10%;
  }

  .paw1 {
    position: absolute;
    bottom: 0;
    width: 200px;
    z-index: 0;
  }

  .paw2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    z-index: 0;
  }

  .paw3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
  }

  .title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 70px;
    line-height: 87px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
  }

  .btn-gradient {
    background: linear-gradient(180deg, #64adef 0%, #3198f4 100%);
    transform: rotate(-0.55deg);
    color: white;
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    font-size: 36px;
    margin-top: 60px;
    height: 90px;
    text-align: center;
    align-items: center;
    border-radius: 17px;
    cursor: url("../../assets/images/small-paw.png"),
      url("../../assets/images/small-paw.png"), auto;
  }
}

@media (max-width: 1024px) {
  .no-page-block {
    .title {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 1px;
    }

    .btn-gradient {
      font-size: 18px;
      height: 60px;
    }

    .paw1 {
      width: 100px;
    }

    .paw2 {
      width: 150px;
    }
  }
}
