<div class="white-container">
    <div class="page-wrapper">
        <div class="list-container" id="pets-list">
            <div class="categories-block">
                <p class="title-categories">
                    Categories
                </p>
                <div (click)="filterPetByType='all'" class="view-all">
                    <p>View All</p>
                    <div class="btn-yellow">
                        <img
                                alt="" src="../../../assets/images/arrow-white.png">
                    </div>
                </div>

                <div class="pets-types-block">
                    <div (click)="filterPetByType='cat'"
                         [className]="filterPetByType === 'cat' ? 'active type' : 'type'">
                        <p>Cats</p>
                    </div>
                    <div (click)="filterPetByType='dog'"
                         [className]="filterPetByType === 'dog' ? 'active type' : 'type'">
                        <p>Dogs</p>
                    </div>
                    <div (click)="filterPetByType='horse'"
                         [className]="filterPetByType === 'horse' ? 'active type' : 'type'">
                        <p>Horses</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!loader; else loading" class="pets-wrapper">
                <app-pet-card
                        *ngFor="let post of posts | filterType:filterPetByType | slice: lowValue : highValue"
                        [favouritesList]="favouritesList"
                        [petPost]="post"
                        [userId]="userId"
                ></app-pet-card>
            </div>

            <p *ngIf="!loader && !(posts | filterType:filterPetByType | slice: lowValue : highValue)?.length" class="title-categories">
                There is no pet
            </p>

            <mat-paginator #paginator (page)="getPaginatorData($event)"
                           [length]="(posts | filterType:filterPetByType)?.length"
                           [pageSize]="pageSize">
            </mat-paginator>

            <ng-template #loading>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-template>

        </div>
    </div>
</div>
