<div class="find-block">

    <img alt="" class="paw1" src="../../../assets/images/lapka.png"/>
    <img alt="" class="paw2" src="../../../assets/images/lapka.png"/>
    <img alt="" class="paw3" src="../../../assets/images/lapka.png"/>

    <div class="page-wrapper">
        <div class="title-block">
            <p>Find Your
                <br>
                Best Friend</p>
            <button (click)="scrollToPetList()" class="btn-gradient" color="primary" mat-raised-button>Find my bestie
            </button>
        </div>
        <img alt="" class="cat" src="../../../assets/images/blackKitten.png"/>
    </div>
</div>