<div class="find-block">

    <img class="paw1" src="../../../assets/images/lapka.png" alt=""/>
    <img class="paw2" src="../../../assets/images/lapka.png" alt=""/>
    <img class="paw3" src="../../../assets/images/lapka.png" alt=""/>

    <div class="page-wrapper">
        <div class="title-block">
            <p>Find Your
                <br>
                Best Friend</p>
            <button (click)="scrollToPetList()" class="btn-gradient" mat-raised-button color="primary">Find my bestie</button>
        </div>
        <img class="cat" src="../../../assets/images/blackKitten.png" alt=""/>
    </div>
</div>