<div class="find-block">

    <img class="paw1" src="../../../assets/images/lapka.png" alt=""/>
    <img class="paw2" src="../../../assets/images/lapka.png" alt=""/>
    <img class="paw3" src="../../../assets/images/lapka.png" alt=""/>

    <div class="page-wrapper">
        <div class="title-block">
            <p>Find Your
                <br>
                Best Friend</p>
            <button class="btn-gradient" mat-raised-button color="primary">Find my bestie</button>
        </div>
        <img class="cat" src="../../../assets/images/blackKitten.png" alt=""/>
    </div>
</div>

<div class="white-container">
    <div class="page-wrapper">
        <div class="list-container">
            <div class="categories-block">
                <p class="title-categories">
                    Categories
                </p>
                <div class="view-all">
                    <p>View All</p>
                    <div class="btn-yellow"><img
                            src="../../../assets/images/arrow-white.png" alt=""></div>
                </div>

                <div class="pets-types-block">
                    <div class="type active">
                        <p>Cats</p>
                    </div>
                    <div class="type">
                        <p>Dogs</p>
                    </div>
                    <div class="type">
                        <p>Horses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
