<h2 class="title-wrapper" mat-dialog-title>
    <span>Get in touch </span>
    <mat-icon matSuffix (click)="closeModal()">close</mat-icon>
</h2>

<h4>Leave your contacts <br> and we'll get back to you shortly about {{type}}</h4>

<mat-dialog-content class="mat-typography">
    <form class="form-wrapper" [formGroup]="contactsForm">

        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Your Phone Number</mat-label>
            <input matInput type="text" formControlName="phone">
        </mat-form-field>


        <button [ngClass]="type === 'sponsoring' ? 'yellow-btn' : 'blue-btn'"
                [disabled]="contactsForm.invalid || submitted"
                mat-raised-button
                color="primary"
                (click)="submit()">
            <span> Submit </span>
        </button>

    </form>

</mat-dialog-content>
