<h2 class="title-wrapper" mat-dialog-title>
    <span>Get in touch </span>
    <mat-icon (click)="closeModal()" matSuffix>close</mat-icon>
</h2>

<h4>Leave your contacts <br> and we'll get back to you shortly about {{type}}</h4>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="contactsForm" class="form-wrapper">

        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input formControlName="name" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Your Phone Number</mat-label>
            <input formControlName="phone" matInput type="text">
        </mat-form-field>


        <button (click)="submit()"
                [disabled]="contactsForm.invalid || submitted"
                [ngClass]="type === 'sponsoring' ? 'yellow-btn' : 'blue-btn'"
                color="primary"
                mat-raised-button>
            <span> Submit </span>
        </button>

    </form>

</mat-dialog-content>
