.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & mat-icon {
    cursor: pointer;
  }
}

h2 {
  font-size: 26px;
  color: #03063a;
}

h4 {
  font-size: 16px;
  color: #70717b;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.mat-dialog-content.mat-typography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btn-gradient {
    margin: 10px auto 0;
    background: linear-gradient(180deg, #64adef 0%, #3198f4 100%);
    padding: 8px 40px;
  }
}
