<h2 class="title-wrapper" mat-dialog-title>
    <span><ng-container *ngIf="postToEdit; else create">Edit</ng-container>
    <ng-template #create>Create</ng-template> Post </span>
    <mat-icon (click)="closeModal()" matSuffix>close</mat-icon>
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="petPost" class="form-wrapper">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input formControlName="age" matInput max="100" min="0" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Weight</mat-label>
            <input formControlName="weight" matInput min="0" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="cat">Cat</mat-option>
                <mat-option value="dog">Dog</mat-option>
                <mat-option value="horse">Horse</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sex</mat-label>
            <mat-select formControlName="sex">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
            </mat-select>
        </mat-form-field>

        <label class="custom-file-upload">
            <input (change)="setFile($event)" accept="image/png, image/jpeg" type="file"/>
            <mat-icon matSuffix>folder</mat-icon>
            Upload image for pet
        </label>

        <p *ngIf="avatarName" class="file-name">{{avatarName}}</p>
        <button (click)="submit()" [disabled]="buttonIsDisabled()" class="create"
                color="primary" mat-raised-button>
            <ng-container *ngIf="postToEdit; else createPet">Update</ng-container>
            <ng-template #createPet>Create</ng-template>
            Pet
        </button>

    </form>

</mat-dialog-content>
