@import '../../assets/themes/theme.scss';

.flex-wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .example-card {
    width: 90%;
    min-width: 320px;
    max-width: 500px;

    .title-wrapper {
      width: 100%;
        text-align: center;

      img {
        width: 100%;
      }
    }

    .content-wrapper {
      margin-top: 20px;
    }

    .mat-card-title {
      text-align: center;
      margin: 20px 0;
    }

    .mat-form-field {
      width: 100%;
    }

    .btn-gradient {
      background: linear-gradient(180deg, #64ADEF 0%, #3198F4 100%);
      transform: rotate(-0.55deg);
      color: white;
      font-weight: 400;
      padding-left: 60px;
      padding-right: 60px;
      display: flex;
      margin: auto;
    }

    .mat-subheading-1 {
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
      color: #70717B;
    }
  }
}

@media (max-width: 540px) {
  .flex-wrapper-center {

    //.example-card {
    //  .title-wrapper, .content-wrapper {
    //    width: 90%;
    //    border: none;
    //    padding: 0;
    //  }
    //}
  }

}
